<script src="/client.js"></script>
<link rel="stylesheet" href="./css/edit_account.css" />

<div class="container">
    {{! Display a message if one was provided. }}
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <div class="frame"></div>
    <div class="pannel">
        <div class="pannelshadow"></div>
        <form action="/edit_account" method="POST">
            <button type="submit" class="submitbtn">Submit</button>

            <div class="iconcontainer">
                <div class="icon1" data-icon="/images/boy1.png"></div>
                <div class="icon2" data-icon="/images/boy2.png"></div>
                <div class="icon3" data-icon="/images/boy3.png"></div>
                <div class="icon4" data-icon="/images/boy4.png"></div>
                <div class="icon5" data-icon="/images/girl1.png"></div>
                <div class="icon6" data-icon="/images/girl2.png"></div>
                <div class="icon7" data-icon="/images/girl3.png"></div>
                <div class="icon8" data-icon="/images/girl4.png"></div>
                <div class="icon9" data-icon="/images/girl5.png"></div>
                <input type="hidden" id="icon" name="icon" value="">
            </div>

            <span class="chooseicon">Choose your icon</span>

            <input type="text" name="Brief_Description" class="descriptiontext" placeholder="Please describe yourself in 50 words" value="{{userProfile.Brief_Description}}">
            <span class="description">Description</span>

            <input type="password" name="confirmpassword" class="confirmpasswordtext" placeholder="Please confirm your password">
            <span class="confirmpassword">Confirm Password</span>

            <input type="password" name="password" class="passwordtext" placeholder="Please enter your password">
            <span class="password">Password</span>

            <input type="date" name="birthdate" class="birthdatetext" placeholder="DD/MM/YYYY" value="{{userProfile.Date_Of_Birth}}">
            <span class="birthdate">Birth date</span>

            <input type="text" name="idname" class="idnametext" placeholder="Please enter your real name" value="{{userProfile.Real_Name}}">
            <span class="idname">Real Name</span>

            <input type="text" name="username" class="usernametext" placeholder="Please enter your username" value="{{userProfile.Username}}">
            <span class="username">Username</span>
        </form>

        {{!-- <span class="haveaccount">Already have an account.</span> --}}
        <span class="creataccount">Edit Account</span>
        <div class="logo"></div>
    </div>
</div>

